<!DOCTYPE html>
<html>
  <head>
    <title>{{this.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <style type="text/css">
        @import "css/bootstrap.min.css";
        @import "css/site.css";
        @import "css/syntax.css";
    </style>

  </head>

    {% set url_prefix = '.' %}

  <body>

    <!-- Fixed navbar -->
    {% set navbar_style = "navbar-default" %}
    {% if site.navbar_inverse %}
    {%   set navbar_style = "navbar-inverse" %}
    {% endif %}
    {% set navbar_right_items = 1 %}
    {% if site.navbar_right_items %}
    {%   set navbar_right_items = site.navbar_right_items %}
    {% endif %}
    <div class="navbar {{navbar_style}} navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_prefix }}/index.html">{{site.brand}}</a>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-left">
            {% block home %}
            {% endblock %}
            {% for item in site.reflinks['/'].content[:-navbar_right_items] %}
            {%   set context = '' %}
            {%   if item.components|d and this.components[0] == item.components[0] %}
            {%     set context = ' class="active"' %}
            {%   endif %}
            {%   if item.content|d and item.dropdown %}
            <li{{context}} class="dropdown">
              <a href="{{item.url}}" class="dropdown-toggle" data-toggle="dropdown">{{item.title}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for subitem in item.content %}
                <li><a href="{{url_prefix + subitem.url}}">{{subitem.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li{{context}}><a href="{{url_prefix + item.url}}">{{item.title}}</a></li>
            {%   endif %}
            {% endfor %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% for item in site.reflinks['/'].content[-navbar_right_items:] %}
            {%   set context = '' %}
            {%   if item.components|d and this.components[0] == item.components[0] %}
            {%     set context = ' class="active"' %}
            {%   endif %}
            {%   if item.content|d and item.dropdown %}
            <li{{context}} class="dropdown">
              <a href="{{item.url}}" class="dropdown-toggle" data-toggle="dropdown">{{item.title}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for subitem in item.content %}
                <li><a href="{{url_prefix + subitem.url}}">{{subitem.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li{{context}}><a href="{{url_prefix + item.url}}">{{item.title}}</a></li>
            {%   endif %}
            {% endfor %}
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block body %}
    {% endblock %}

  </body>
</html>

